.gold{
    border: gold inset 2px;
    border-radius: 5px;
    width: 150px;
    height: 190px;
    padding: 10px;
    margin: 20px;
    vertical-align: top;
    display: inline-block;
}
.gold:hover{
    color: #c31fff;
    border: #c31fff 2px outset;
    transform: scale(1.05);
}
.gold:hover .goldImg{
    border: #c31fff 1px outset;
}
.goldTitle{
    text-align: center;
}
.goldImg{
    border: solid gold 1px;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.75rem #4d423f);
    max-width: 150px;
}