.owner{
    border: #c31fff inset 2px;
    border-radius: 5px;
    width: 150px;
    height: 200px;
    padding: 10px;
    margin: 20px;
    vertical-align: top;
    display: inline-block;
}
.owner:hover{
    color: #00b4dc;
    border: #00b4dc 2px outset;
    transform: scale(1.05);
}
.owner:hover .ownerImg{
    border: #00b4dc 1px outset;
}
.ownerTitle{
    text-align: center;
}
.ownerImg{
    border: solid #c31fff 1px;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.75rem #4d423f);
    max-width: 150px;
}