@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Major+Mono+Display&family=Mrs+Saint+Delafield&display=swap');

/* Modules */

@import './Header/Header.module.css';
@import "./Card/Card.module.css";