@import './modules/imports.css';
:root{
    font-family: Comfforta, Verdana, Helvetica, Arial;
    --accent: #2a2b2e;
    --background: #202225;
    --text: #ffffff;
}
.pageTitle{
    text-align: center;
}
body{
    background-color: var(--background);
    color: var(--text);
    margin: 0;
}